/*
    Created on : 11 Nov, 2017, 4:42:53 AM
    Author     : afsal villan
*/

* {
  -fx-primary: /*#FFFFFF; /* White */  linear-gradient(to right,#f0f5ff, #c9d6ff);
  -fx-secondary:  #5c6bc0; /* Purple */
  -fx-primarytext: #5c6bc0; /* Purple */
  -fx-blue: #003554; /* Dark blue */
  -fx-red: #E63946; /* Pastel red */
  -fx-color-1:  #5c6bc0; /* Dark purple */
}

.root {
  -fx-background-color:  linear-gradient(to right,#f0f5ff, #c9d6ff); /* Light gray */
}

.button {
  -fx-text-fill: #FFFFFF; /* white */
  -fx-background-color: -fx-secondary;
  -fx-border-color: -fx-secondary;
  -fx-border-radius: 20px;
  -fx-background-radius: 20px;
  -fx-font-size: 12pt;
}

.button:hover, .button:focused {
  -fx-border-color: -fx-primary;
  -fx-background-color: -fx-secondary;
  -fx-text-fill: #FFFFFF;
}

.text-field {
  -fx-text-fill: #3921a6; /* Purple*/
}

/* Các phần khác tương tự có thể được thay đổi */

/*Login Screen Specific*/

.wrong-credentials {
  -jfx-unfocus-color: #E53935;
  -jfx-focus-color: #E53935;
}

/*Main Screen CSS Styling starts here*/

/*TablPane styling*/
.tab {
  -fx-background-color: #A8DADC;
  -fx-background-radius: 10;
}
.tab:hover{
  -fx-background-color: linear-gradient(to right, #c9d6ff, #b8c2f0);
  -fx-scale-x: 1.025; /* Scale the tab horizontally */
  -fx-scale-y: 1.025; /* Scale the tab vertically */
  -fx-effect: dropShadow(three-pass-box, rgb(33, 65, 166), 10, 0, 0, 10);
}

.tab-header-background {
  -fx-background-color:   linear-gradient(to right,#f0f5ff, #5c6bc0);/*linear-gradient(to bottom, #1D3557, #457B9D);  Dark blue */
}

.tab-label {
  -fx-text-fill: #1D3557; /* Dark blue */
  -fx-font-size: 10pt;
}

.label {
  -fx-text-fill: #1D3557; /* Dark blue */
  -fx-font-size: 10pt;
}

.tab-main {
  -fx-pref-height: 60;
  -fx-max-height: 60;
}

.settings-tab {
  -fx-background-color: derive(-fx-primary, 10%);
  -fx-padding: 5px 20px 5px 20px;
}

.settings-tab:selected {
  -fx-background-color: -fx-secondary;
}

.settings-tab:selected .tab-label {
  -fx-text-fill: -fx-primary;
}

.settings-tab .tab-header-background {
  -fx-background-color: derive(-fx-primary, -50%);
}

/*Menu bar Styling*/
.menu-bar {
  -fx-font-size: 14;
  -fx-base: -fx-primary;
  -fx-background-color: -fx-primary;
}

.context-menu {
  -fx-background-color: derive(-fx-primary, 20%);
  -fx-font-size: 14;
  -fx-min-width: 150px;
}

/*Hamburger Styling*/
.jfx-hamburger-icon {
  -fx-spacing: 7;
}

.jfx-hamburger-icon StackPane {
  -fx-background-color: -fx-secondary;
  -fx-background-radius: 5px;
}

/*Toolbar buttons*/
.toolbar-button {
  -fx-border-color: transparent;
  -fx-background-color: derive(-fx-primary, 10%);
  -fx-background-radius: 0px;
  -fx-border-radius: 0px;
}

.toolbar-button:hover {
  -fx-background-color: -fx-secondary;
  -fx-text-fill: -fx-primary;
}

.toolbar-button:hover .glyph-icon, .toolbar-button:hover .glyph-icon {
  -fx-fill: -fx-primary;
}

/*Text styling*/
.main-text {
  -fx-fill: -fx-secondary;
  -fx-font-size: 14pt;
  -fx-text-alignment: center;
}

.submission-container {
  -fx-background-color: derive(-fx-primary, 10%);
}

/*Dialog styling*/
.dialog-button {
  -fx-border-color: -fx-color-1;
  -fx-text-fill: white;
  -fx-border-radius: 1px;
  -fx-background-radius: 3px;
}

.dialog-button:hover {
  -fx-background-color: -fx-color-1;
  -fx-border-color: derive(-fx-color-1, -20%);
  -fx-text-fill: white;
}

.jfx-layout-actions {
  -fx-hgap: 8;
}

/*Chart Styling*/
.data0.chart-pie {
  -fx-pie-color: -fx-secondary;
  -fx-border-color: derive(-fx-secondary, -30%);
}

.data1.chart-pie {
  -fx-pie-color: derive(-fx-primary, 30%);
  -fx-border-color: derive(-fx-primary, 30%);
}

.chart-pie-label {
  -fx-fill: derive(-fx-secondary, -5%);
}

/*About window*/
.about-text {
  -fx-fill: -fx-secondary;
}

.about-button {
  -fx-border-color: transparent;
}

/*Custom window background*/
.custom-pane {
  -fx-background-color: derive(-fx-primary, 5%);
}

/*TableView Default*/
.table-view {
  -fx-background-color: #f3f3f3; /* Light gray */
  -fx-font-size: 16px;
  -fx-border-color: #cccccc; /* Light gray border */
}

.table-view:focused {
  -fx-background-color: #e6e6e6; /* Slightly darker light gray */
}

.table-row-cell {
  -fx-cell-size: 40px;
}

.table-view .column-header-background {
  -fx-background-color:  #5c6bc0; /* Dark purple */
}

.table-view .column-header-background .label {
  -fx-background-color: transparent;
  -fx-text-fill: #ffffff; /* White */
}

.table-view .column-header {
  -fx-background-color: transparent;
}

.table-view .table-cell {
  -fx-text-fill: #333333; /* Dark gray */
}

.table-row-cell:focused, .table-cell:focused {
  -fx-text-fill:  #5c6bc0; /* Dark purple*/
}

.table-row-cell {
  -fx-background-color: #ffffff; /* White */
  -fx-border-color: transparent;
  -fx-table-cell-border-color: transparent;
}

.table-column {
  -fx-alignment: CENTER;
}

.table-row-cell:even {
  -fx-background-color: #f3f3f3; /* Light gray */
}

.table-row-cell:selected {
  -fx-background-color: #ffdd83; /* Pale yellow */
  -fx-text-fill: #002b5b; /* Dark blue */
  -fx-background-insets: 0;
}

.table-row-cell:selected .table-cell {
  -fx-text-fill: #002b5b; /* Dark blue */
}

.placeholder .label {
  -fx-text-fill: #333333; /* Dark gray */
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
  -fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
  -fx-text-fill: #333333; /* Dark gray */
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
  -fx-background-color: #cccccc; /* Light gray */
  -fx-border-color: transparent;
  -fx-background-radius: 5em;
}

.table-view .filler {
  -fx-fill: #ffffff; /* White */
  -fx-background-color: #ffffff; /* White */
}

.table-context {
  -fx-base: #ffffff; /* White */
}


/*JFXDialog styling*/
.jfx-layout-heading {
  -fx-background-color: -fx-secondary;
}

.jfx-layout-heading .label {
  -fx-text-fill: white;
  -fx-font-size: 12pt;
}

.jfx-layout-body, .jfx-layout-actions {
  -fx-background-color: -fx-primary;
}

.jfx-layout-body .label {
  -fx-text-fill: black;
  -fx-padding: 20px 0 0 0;
}


/*Dashboard label*/
.not-available {
  -fx-background-radius: 5px;
  -fx-fill: derive(blue, 80%);
  -fx-cursor: hand;
}

/*Checkbox*/

.checkbox-main {
  -fx-text-fill: -fx-secondary;
  -jfx-checked-color: -fx-primary;
  -fx-font-size: 10pt;
}

/*Progrss bar*/

.progress-bar-main .track {
  -fx-background-color: -fx-primary;
}

.progress-bar-main .bar {
  -fx-background-color: -fx-secondary;
  -fx-padding: 5px;
}

.common-label {
  -fx-background-color: transparent;
  -fx-text-fill: -fx-secondary;
  -fx-font-size: 12pt;
}

/*Alert Dialog*/

.custom-alert {
  -fx-background-color: -fx-primary;
  -fx-text-fill: black;
}

.custom-alert > *.button-bar > *.container {
  -fx-background-color: -fx-primary;
}

.custom-alert > *.label.content {
  -fx-font-size: 14px;
  -fx-font-weight: bold;
  -fx-text-fill: black;
}

.custom-alert .header-panel {
  -fx-background-color: -fx-blue;
}

.custom-alert .header-panel .label {
  -fx-font-style: normal;
  -fx-text-fill: white;
}

.custom-alert .header-panel .label {
  -fx-font-size: 18px;
  -fx-font-style: italic;
  -fx-fill: -fx-primary;
}
/* Context menu */

.colored-context-menu .menu-item:focused {
  -fx-background-color: -fx-secondary;
  -fx-text-fill: white;
}

.colored-context-menu .menu-item:focused .label {
  -fx-text-fill: white;
}
.rounded-text-field {
  -fx-background-radius: 10px; /* Adjust the radius as needed */
  -fx-border-radius: 10px; /* Ensure the border follows the same radius */
}
.image-view {
  -fx-clip: true; /* Ensure the image stays within its bounds */
  -fx-transition: all 0.3s ease; /* Smooth transition */
}

.image-view:hover {
  -fx-opacity: 0.4; /* Adjust the opacity as needed */
  -fx-scale-x: 1.025; /* Scale the image horizontally */
  -fx-scale-y: 1.025; /* Scale the image vertically */
  /*-fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.7), 10, 1, 0, 0);*/
}

.toggle-switch {
   -fx-text-fill: -fx-primarytext;
        -fx-background-color: fx-primary;
        -fx-border-color: -fx-secondary;
        -fx-border-radius: 20px;
        -fx-background-radius: 20px;
        -fx-font-size: 12pt;
    -fx-cursor: hand;
}

.toggle-switch:selected {
    -fx-background-color: #1E3A5F; /* Màu nền của nút khi chọn */
}

.toggle-switch .thumb {
    -fx-background-color: white;
    -fx-background-radius: 50%;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-pref-width: 150px;
    -fx-pref-height: 80px;
    -fx-transition: transform 0.3s ease;
}
